@media (max-width: 85em) {
  .container {
    width: 120rem;
  }

  .primary-heading {
    font-size: 4.4rem;
  }

  header {
    /* background-color: blueviolet; */
  }

  .video-container {
    grid-template-columns: 2fr 1fr;
    column-gap: 1.6rem;
  }

  .property span {
    font-size: 1.6rem;
  }
  .platform-features {
    column-gap: 1.6rem;
  }

  .treasury-heading {
    font-size: 2rem;
    margin-bottom: 4rem;
  }

  .features {
    padding: 3.2rem 3.2rem 3.2rem 3.2rem;
  }

  .property-icon {
    width: 1.8rem;
    height: 1.8rem;
  }

  .copy {
    /* font-size: 1.2rem; */
  }
}
@media (max-width: 79em) {
  html {
    font-size: 56.25%;
  }

  header {
    /* background-color: cyan; */
  }

  .img {
    /* border-radius: 50%; */
    width: 6.4rem;
    height: 6.4rem;
  }

  .property span {
    /* font-size: 1.4rem; */
  }

  /* .property-icon {
    height: 1.8rem;
    width: 1.8rem;
    /* background-color: #932f0b; */
  /* padding: 0.8rem; */
  /* border-radius: 50%; */
  /* color: #cc474c;  */
}

/* .img {
    width: 6.4rem;
    height: 6.4rem; */
/* } */

/* .course-name { */
/* font-size: 1.6rem; */
/* } */
/* } */
@media (max-width: 75em) {
  .container {
    width: 105rem;
    /* padding: 0.8rem 1.2rem; */
  }

  header {
    /* background-color: black; */
  }

  .video-container {
    grid-template-columns: 2.5fr 1fr;
    /* column-gap: 0rem; */
  }

  .property span {
    font-size: 1.6rem;
  }

  .platform-features {
    padding: 8.6rem 1.6rem;
  }

  .feature-item {
    font-size: 1.6rem;
  }

  .img {
    width: 4.8rem;
    height: 4.8rem;
  }

  .course-name {
    font-size: 1.4rem;
  }

  .book-store {
    padding: 9.6rem 0rem;
  }

  .book-head {
    column-gap: 4.8rem;
  }
}

@media (max-width: 59em) {
  .top--java {
    top: unset !important;
  }

  .top--php-c-sharp {
    top: unset !important;
  }

  .top--sql-c-python {
    top: unset !important;
  }

  .top--web-c {
    top: unset !important;
  }

  .top--kotlin {
    top: unset !important;
  }

  .top--swift {
    top: unset !important;
  }

  .bottom {
    top: unset !important;
  }

  body {
    position: relative;
    overflow-x: hidden;
  }

  header {
    /* background-color: darkblue; */
    position: sticky;
    top: 0;
    z-index: 10;
  }

  html {
    font-size: 50%;
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 10;
    transform: translateX(100%);
    background-color: #2f2e41;
    position: fixed;
    top: 6.7rem;
    right: 0;
    height: 100vh;
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
    padding: 4.8rem;
    transition: all 0.5s ease-in;
  }

  .open-nav .nav {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  .nav div {
    display: flex;
    gap: 1.6rem;
  }

  .open-nav .nav .profile-icon {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .open-nav .profile-icon-mob {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  .profile-name {
    text-transform: capitalize;
    font-size: 2.4rem;
    color: #f6f6f6;
  }

  .profile-info {
    display: flex;
    justify-content: space-between;
    gap: 2.4rem;
  }

  .nav-list {
    flex-direction: column;
  }
  .nav-link {
    display: flex;
    gap: 0.8rem;
    font-size: 2.4rem;
  }

  .nav-icons {
    display: block;
  }

  .org .profile-icon[name="person-circle-outline"] {
    display: none;
  }
  .open-nav .profile-icon.profile-icon[name="menu-outline"] {
    display: none;
  }

  .open-nav .profile-icon.profile-icon[name="close-outline"] {
    display: block;
  }
  .profile-icon-mob {
    opacity: 0;
    visibility: hidden;
  }

  .hero-section {
    padding: 12.8rem 0;
  }

  .hero {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 0 12.8rem;
  }

  .primary-heading {
    font-size: 5.2rem;
  }

  .hero-text {
    padding: 0 9.6rem;
    line-height: 1.8;
  }

  .hero-img {
    display: none;
  }

  .video-container {
    grid-template-columns: 1fr;
  }

  .video-section {
    padding-bottom: 0rem;
  }

  .video {
    margin-bottom: 4rem;
  }

  .properties-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .platform-features {
    /* grid-template-columns: 1fr; */
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    align-items: center;
    padding: 6.2rem 1.6rem;
  }

  .treasury-heading {
    text-align: center;
  }

  .feature-card {
    flex-direction: row;
  }

  .feature-item {
    flex-direction: column;
    gap: 1.6rem;
  }

  .feature-icon {
    height: 2.8rem;
    width: 2.8rem;
    padding: 0.8rem;
  }

  .course {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .course .course-container:last-child {
    grid-column: 2;
  }

  .course-container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    justify-content: center;
    align-items: center;
    position: initial;
    text-align: center;
  }

  .course-container:hover {
    transform: translateY(0);
  }

  .course-container:hover .course-link {
    color: var(--main-color);
  }

  .detail {
    position: relative;
    top: unset;
    left: unset;
    box-shadow: 0 0 2rem rgb(0 0 0 / 0);
    opacity: 1;
    visibility: visible;
    width: auto;
  }

  .book-head {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .book-img img {
    display: none;
  }
}

/* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
