:root {
  /* Colors */
  --main-color: #cc474c;
  --accent-color: #eeb868;
  --font-color: #343a40;
  /* Sizes
      - White Space  */
  --section-separator: 8.6rem;
  /* Font size */
  --normal-font-size: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid black; */
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Rubik;
  color: var(--font-color);
  background-color: #e9ecef;
  /* padding-bottom: 8.4rem; */
}

address {
  font-style: normal;
}

.container {
  width: 130rem;
  margin: 0 auto;
  padding: 0.8rem 1.6rem;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.top {
  font-size: 3rem;
  position: sticky;
  bottom: 115vh;
  right: 2.4rem;
  background: #000;
  color: purple;
}

.nowrap {
  white-space: nowrap;
}

strong {
  font-weight: 500;
}

input {
  font-family: inherit;
}

input::placeholder {
  color: #2f2e416b;
}

.top--java {
  top: -118% !important;
}

.top--php-c-sharp {
  top: -159% !important;
}

.top--sql-c-python {
  top: -138% !important;
}

.top--web-c {
  top: -95% !important;
}

.top--kotlin {
  top: -75% !important;
}

.top--swift {
  top: -55% !important;
}

.bottom {
  top: 110% !important;
}

/* .bottom-php {
  bottom: -160%;
}

.bottom-sql {
  bottom: -140%;
}

.bottom-web {
  bottom: -95%;
}

.bottom-kotlin {
  bottom: -75%;
}

.bottom-swift {
  bottom: -55%;
} */

/* End Global */

/* Start Header */

header {
  background-color: var(--main-color);
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  height: 4.8rem;
  width: auto;
  display: inline-block;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;

  color: #fff;
  font-size: 1.6rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-link {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}

.nav-link:hover {
  color: #ffd99f;
}

.profile-icon {
  height: 3.2rem;
  width: 3.2rem;
  color: #fff;
}

.hero-section {
  padding: 8.6rem 0;
  /* height: 100vh; */
}

.hero {
  padding: 0 4.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 8.6rem;
}

.primary-heading {
  color: #333;
  font-size: 4.8rem;
  /* letter-spacing: -0.5px; */
  line-height: 1.05;

  margin-bottom: 3.2rem;
}

.hero-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 85%;
}

.pb,
.sb {
  display: inline-block;
  font-size: 2rem;
  padding: 1.2rem 2.4rem;
  text-decoration: none;
  font-weight: 500;
  border-radius: 9px;
  transition: 0.3s;
}

.pb {
  background-color: var(--main-color);
  color: #fff;
  margin-right: 3.2rem;
}

.pb:hover {
  background-color: #a3393d;
}

.sb {
  color: rgba(26, 26, 26, 0.7);
  box-shadow: 0 0 0 2px rgba(26, 26, 26, 0.6);
}

.sb:hover {
  background-color: rgba(26, 26, 26, 0.6);
  box-shadow: none;
  color: #e9ecef;
}

/* End Header */

/* Start Header */

.platform-features {
  padding: 8.6rem 0;
  /* align-items: start; */
  grid-template-columns: 1fr 3fr;
}

.features {
  box-shadow: 0 2.4rem 4.8rem rgba(26, 26, 26, 0.075);
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
  width: fit-content;
  border-radius: 9px;
}

.feature-card {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.feature-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.feature-icon {
  color: var(--main-color);
  background-color: #f5dadb;
  padding: 0.8rem;
  border-radius: 50%;
}

.secondary-heading {
  font-size: 3.2rem;
  margin-bottom: 4rem;
}

.treasury-heading {
  font-size: 2.4rem;
  margin-bottom: 4rem;
}

.course {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  /* column-gap: 12.8rem; */
  row-gap: 4.8rem;
  box-shadow: 0.2rem 1.2rem 30rem rgba(47, 46, 65, 15%);
  padding: 2.4rem;
  border-radius: 11px;
}

.course-info {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  align-items: center;
}

.img {
  border-radius: 50%;
  width: 7.2rem;
  height: 7.2rem;
  /* overflow: hidden; */
  /* background-image: url(../Img/kindpng_3559027.png);
  background-size: cover;
  background-position: center; */
}

/* .sql {
  width: 7.2rem;
} */

.img img {
  width: 7.2rem;
  /* filter: invert(13%) sepia(6%) saturate(3403%) hue-rotate(204deg)
    brightness(96%) contrast(85%); */
}

.course-name {
  font-size: 1.6rem;
  white-space: nowrap;
}

.course-link {
  text-decoration: none;
  color: inherit;
  transition: 0.4s;
  border-radius: 9px;
  position: relative;
}

.course-container {
  text-decoration: none;
  color: inherit;
  transition: 0.4s;
  border-radius: 9px;
  position: relative;
}

.course-container:hover {
  transform: translateY(-10px);
}

.course-container:hover .course-link {
  color: var(--main-color);
}

.more {
  font-size: 1.3rem;
  /* position: absolute; */
  /* top: -65%; */
  /* left: 65%; */
  /* transform: translateX(-50%); */
  /* width: 100%; */
  line-height: 1.7;
}

.detail {
  display: block;
  background-color: #eee;
  width: 100%;
  /* height: 100%; */
  position: absolute;
  top: -100%;
  left: 8%;
  padding: 1.2rem;
  border-radius: 9px;
  box-shadow: 0 0 2rem rgb(0 0 0 / 30%);
  /* display: none; */
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  cursor: default;
}

.detail p {
  cursor: text;
  text-transform: capitalize;
}

.course-container:hover .detail {
  color: #333;
  opacity: 1;
  visibility: visible;
}

.video-section {
  padding: 8rem 4.8rem;
}

.video-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 3.2rem;
}

.video {
  width: 100%;
  height: auto;
  border-radius: 11px;
  box-shadow: 1.2rem 2.4rem 5rem rgba(47, 46, 65, 0.12);
}

.properties-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.6rem;
  list-style: none;
}

.property {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border-radius: 100px;
  padding: 1.2rem;
}

.property span {
  font-size: 1.8rem;
}

.property-icon {
  height: 2.4rem;
  width: 2.4rem;
  /* background-color: #932f0b; */
  padding: 0.8rem;
  border-radius: 50%;
  color: #cc474c;
}

.p-link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px solid currentColor;
  padding: 0.2rem;
  transition: 0.3s;
}

.p-link:hover {
  border-bottom: 1px solid transparent;
}

.book-store {
  background-color: #2f2e41;
  padding: 9.6rem 4.8rem;
  color: #e9ecef;
}

.book-head {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 8.6rem;
}

.book-title {
  color: inherit;
}

.book-img img {
  width: 100%;
}

.pb.book-view {
  background-color: #55769f;
  margin-right: 0;
  margin-left: 1.6rem;
}

.pb.book-view:hover {
  background-color: #445e7f;
}

#email {
  padding: 1.2rem 2.4rem;
  font-size: 1.8rem;
  border-radius: 9px;
}

.footer {
  padding: 9.6rem 0;
  background-color: #2f2e41;
  border-top: 1px solid #eee;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 6.4rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.icons {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  margin-bottom: auto;
}

.footer-logo {
  margin-bottom: 3.2rem;
}

.social-icon {
  width: 1.6em;
  height: 1.6em;
}

.copy {
  font-size: 1.4rem;
  color: #f6f6f6;
  width: 85%;
}

.footer-list,
address {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

address p:first-child {
  width: 80%;
  line-height: 1.5;
}

.footer-header {
  font-weight: 500;
  color: #f5dadb;
  font-size: 1.8rem;
  margin-bottom: 4rem;
}

.footer-link {
  font-size: 1.6rem;
  color: #f6f6f6;
  text-decoration: none;
  transition: 0.3s;
}

.footer-link:hover {
  color: #eeb868;
}
